<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meepo</key>
	<dict>
		<key>name</key>
		<string>地卜师</string>
		<key>nickname</key>
		<string>狗头;gt;goutou;mp;mb;mibo;米波;</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>ES</string>
			<key>5</key>
			<string>PL</string>
			<key>9</key>
			<string>AXE</string>
			<key>8</key>
			<string>FV</string>
			<key>7</key>
			<string>Lina</string>
			<key>6</key>
			<string>Lion</string>
			<key>4</key>
			<string>SF</string>
		</dict>
	</dict>
	<key>SF</key>
	<dict>
		<key>name</key>
		<string>影魔</string>
		<key>nickname</key>
		<string>pis;nevermore;奈文摩尔;sf;shadow;yinmo;yingmo;ym;影魔;淫魔;</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Barathrum</string>
			<key>9</key>
			<string>Huskar</string>
		</dict>
	</dict>
	<key>Barathrum</key>
	<dict>
		<key>name</key>
		<string>裂魂人</string>
		<key>nickname</key>
		<string>白牛;bainiu;bn;lhr;xiaoniaobibi;</string>
		<key>weak</key>
		<dict>
			<key>8</key>
			<string>Goblin</string>
			<key>7</key>
			<string>Azgalor</string>
			<key>6</key>
			<string>SA</string>
			<key>5</key>
			<string>Huskar</string>
		</dict>
	</dict>
	<key>Huskar</key>
	<dict>
		<key>name</key>
		<string>神灵武士</string>
		<key>nickname</key>
		<string>神灵;sl;shengling;shenlin;shenglin;shenling;神灵武士</string>
		<key>cooperation</key>
		<dict>
			<key>10</key>
			<string>单控</string>
			<key>9</key>
			<string>团控</string>
			<key>8</key>
			<string>治疗</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>8</key>
			<string>Oracle</string>
			<key>7</key>
			<string>NOR</string>
			<key>6</key>
			<string>CK</string>
		</dict>
	</dict>
	<key>Oracle</key>
	<dict>
		<key>name</key>
		<string>神谕者</string>
		<key>nickname</key>
		<string>shengyuzhe;sy;神谕者</string>
		<key>weak</key>
		<dict>
			<key>8</key>
			<string>Doom</string>
			<key>7</key>
			<string>NOR</string>
		</dict>
	</dict>
	<key>Sniper</key>
	<dict>
		<key>name</key>
		<string>矮人狙击手</string>
		<key>nickname</key>
		<string>矮人火枪手;火枪;小炮;hq;huoqiang;airen;ar;矮人狙击手</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Barathrum</string>
			<key>9</key>
			<string>Huskar</string>
			<key>8</key>
			<string>Meepo</string>
		</dict>
	</dict>
	<key>ES</key>
	<dict>
		<key>name</key>
		<string>撼地神牛</string>
		<key>nickname</key>
		<string>小牛;es;神牛;xn;xl;xiaoniu;hdsn;撼地神牛</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>发条地精</string>
		</dict>
	</dict>
	<key>AXE</key>
	<dict>
		<key>name</key>
		<string>斧王</string>
		<key>nickname</key>
		<string>fw;fuwang;斧头</string>
		<key>trait</key>
		<string>团控;打野;肉盾;</string>
		<key>strong</key>
		<dict>
			<key>8</key>
			<string>船长</string>
			<key>9</key>
			<string>lion</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Venomancer</string>
			<key>9</key>
			<string>VIP</string>
		</dict>
	</dict>
	<key>kunkka</key>
	<dict>
		<key>name</key>
		<string>船长</string>
		<key>nickname</key>
		<string>chuanzhuang;cz;kunka;船长</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>爆发性英雄</string>
		</dict>
	</dict>
	<key>BM</key>
	<dict>
		<key>name</key>
		<string>兽王</string>
		<key>nickname</key>
		<string>shouwang;sw;兽王</string>
		<key>trait</key>
		<string>视野;减速;宠物;单控</string>
		<key>strong</key>
		<dict>
			<key>5</key>
			<string>伐木机</string>
			<key>6</key>
			<string>屠夫</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>爆发性英雄</string>
		</dict>
	</dict>
	<key>CW</key>
	<dict>
		<key>name</key>
		<string>半人马酋长</string>
		<key>nickname</key>
		<string>banrenmaqiuzhang;brmqz;半人马酋长</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Sniper</string>
		</dict>
	</dict>
	<key>OK</key>
	<dict>
		<key>name</key>
		<string>全能骑士</string>
		<key>nickname</key>
		<string>quannengqishi;qnqs;全能骑士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Sniper</string>
		</dict>
	</dict>
	<key>Panda</key>
	<dict>
		<key>name</key>
		<string>熊猫酒仙</string>
		<key>nickname</key>
		<string>xiongmaojiuxian;xmjx;大熊猫;熊猫酒仙</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>Sven</key>
	<dict>
		<key>name</key>
		<string>流浪剑客</string>
		<key>nickname</key>
		<string>liulangjianke;lljk;sven;斯文;sv;斯温;流浪剑客</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>Tiny</key>
	<dict>
		<key>name</key>
		<string>山岭巨人</string>
		<key>nickname</key>
		<string>xiaoxiao;xx;tiny;山岭巨人;小小</string>
		<key>cooperation</key>
		<dict>
			<key>8</key>
			<string>斧王</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>骷髅王</string>
		</dict>
	</dict>
	<key>TC</key>
	<dict>
		<key>name</key>
		<string>牛头人酋长</string>
		<key>nickname</key>
		<string>niutourenqiuzhang;ntrqz;大牛;老牛;牛头人酋长;tc</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>爆发性英雄</string>
		</dict>
	</dict>
	<key>TP</key>
	<dict>
		<key>name</key>
		<string>树精卫士</string>
		<key>nickname</key>
		<string>shujingweishi;sjws;大树;老树;树精卫士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Sniper</string>
		</dict>
	</dict>
	<key>Wisp</key>
	<dict>
		<key>name</key>
		<string>精灵守卫</string>
		<key>nickname</key>
		<string>jinglingshouwei;jlsw;小精灵;xjl;精灵守卫</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>爆发性英雄</string>
		</dict>
	</dict>
	<key>GA</key>
	<dict>
		<key>name</key>
		<string>炼金术士</string>
		<key>nickname</key>
		<string>lianjingshushi;ljss;ga;炼金术士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>爆发性英雄</string>
		</dict>
	</dict>
	<key>CG</key>
	<dict>
		<key>name</key>
		<string>发条地精</string>
		<key>nickname</key>
		<string>fatiaodijing;ftdj;发条地精;cg</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>VS</string>
		</dict>
	</dict>
	<key>DK</key>
	<dict>
		<key>name</key>
		<string>地狱领主</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>AXE</string>
		</dict>
	</dict>
	<key>BB</key>
	<dict>
		<key>name</key>
		<string>刚背兽</string>
		<key>nickname</key>
		<string>gangbeishou;gbs;背背猪;刚背兽;bb</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SF</string>
		</dict>
	</dict>
	<key>FH</key>
	<dict>
		<key>name</key>
		<string>凤凰</string>
		<key>nickname</key>
		<string>fenghuang;fh;凤凰</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>NOR</string>
		</dict>
	</dict>
	<key>Ymir</key>
	<dict>
		<key>name</key>
		<string>巨牙海民</string>
		<key>nickname</key>
		<string>juyahaiming;jyhm;巨牙海民</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Oracle</string>
		</dict>
	</dict>
	<key>LC</key>
	<dict>
		<key>name</key>
		<string>军团指挥官</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BE</string>
			<key>9</key>
			<string>Tiny</string>
		</dict>
	</dict>
	<key>GS</key>
	<dict>
		<key>name</key>
		<string>地精撕裂者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Huskar</string>
			<key>9</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>CK</key>
	<dict>
		<key>name</key>
		<string>混沌骑士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>小鹿</string>
			<key>9</key>
			<string>Panda</string>
		</dict>
	</dict>
	<key>Doom</key>
	<dict>
		<key>name</key>
		<string>末日使者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Oracle</string>
		</dict>
	</dict>
	<key>Naix</key>
	<dict>
		<key>name</key>
		<string>食尸鬼</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>虎妞</string>
		</dict>
	</dict>
	<key>Banehallow</key>
	<dict>
		<key>name</key>
		<string>狼人</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BE</string>
		</dict>
	</dict>
	<key>NS</key>
	<dict>
		<key>name</key>
		<string>暗夜魔王</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>回城卷</string>
		</dict>
	</dict>
	<key>Azgalor</key>
	<dict>
		<key>name</key>
		<string>深渊领主</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Naix</string>
		</dict>
	</dict>
	<key>Pudge</key>
	<dict>
		<key>name</key>
		<string>屠夫</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>虎妞</string>
		</dict>
	</dict>
	<key>SNK</key>
	<dict>
		<key>name</key>
		<string>骷髅王</string>
		<key>nickname</key>
		<string>大骷髅;kulouwang;dakulou;gulou;klw;glw;骨头</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>SG</key>
	<dict>
		<key>name</key>
		<string>鱼人守卫</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>UD</key>
	<dict>
		<key>name</key>
		<string>不朽尸王</string>
		<key>nickname</key>
		<string>尸王;sw</string>
		<key>trait</key>
		<string>混战;治疗;肉盾</string>
		<key>strong</key>
		<dict>
			<key>8</key>
			<string>神灵</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>TH</key>
	<dict>
		<key>name</key>
		<string>潮汐猎人</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Naix</string>
		</dict>
	</dict>
	<key>Magnus</key>
	<dict>
		<key>name</key>
		<string>半人猛犸</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
		</dict>
	</dict>
	<key>SK</key>
	<dict>
		<key>name</key>
		<string>沙王</string>
		<key>nickname</key>
		<string>shawang;sw;沙子;sz;蝎子;xz</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>ES</string>
			<key>9</key>
			<string>BS</string>
		</dict>
		<key>strong</key>
		<dict>
			<key>10</key>
			<string>WD</string>
		</dict>
	</dict>
	<key>AM</key>
	<dict>
		<key>name</key>
		<string>敌法师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
		</dict>
	</dict>
	<key>jugg</key>
	<dict>
		<key>name</key>
		<string>剑圣</string>
		<key>nickname</key>
		<string>jugg;js;bm</string>
		<key>trait</key>
		<string>爆发;逃命;生存;敏捷;近战;</string>
		<key>strong</key>
		<dict>
			<key>9</key>
			<string>小牛</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
			<key>9</key>
			<string>小鱼人</string>
		</dict>
	</dict>
	<key>LD</key>
	<dict>
		<key>name</key>
		<string>德鲁伊</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>小鱼人</string>
		</dict>
	</dict>
	<key>Luna</key>
	<dict>
		<key>name</key>
		<string>月之骑士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>Morphling</key>
	<dict>
		<key>name</key>
		<string>变体精灵</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>NOR</string>
		</dict>
	</dict>
	<key>NaGa</key>
	<dict>
		<key>name</key>
		<string>娜迦海妖</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Sven</string>
		</dict>
	</dict>
	<key>PL</key>
	<dict>
		<key>name</key>
		<string>幻影长矛手</string>
		<key>nickname</key>
		<string>猴子;hycms;huanyingchangmaoshou;houzi;hz</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Sven</string>
			<key>9</key>
			<string>BH</string>
		</dict>
	</dict>
	<key>POM</key>
	<dict>
		<key>name</key>
		<string>月之女祭司</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>NOR</string>
		</dict>
	</dict>
	<key>SA</key>
	<dict>
		<key>name</key>
		<string>隐形刺客</string>
		<key>nickname</key>
		<string>隐刺;yc;yinci;yingci;ck;cike</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Zeus</string>
		</dict>
	</dict>
	<key>TW</key>
	<dict>
		<key>name</key>
		<string>巨魔战将</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Tiny</string>
		</dict>
	</dict>
	<key>GY</key>
	<dict>
		<key>name</key>
		<string>矮人直升机</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>DR</key>
	<dict>
		<key>name</key>
		<string>黑暗游侠</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Barathrum</string>
		</dict>
	</dict>
	<key>TA</key>
	<dict>
		<key>name</key>
		<string>圣堂刺客</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Zeus</string>
		</dict>
	</dict>
	<key>UW</key>
	<dict>
		<key>name</key>
		<string>熊战士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>VIP</string>
		</dict>
	</dict>
	<key>VS</key>
	<dict>
		<key>name</key>
		<string>复仇之魂</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
		</dict>
	</dict>
	<key>BH</key>
	<dict>
		<key>name</key>
		<string>赏金猎人</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
		</dict>
	</dict>
	<key>Xin</key>
	<dict>
		<key>name</key>
		<string>灰烬之灵</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
		</dict>
	</dict>
	<key>BS</key>
	<dict>
		<key>name</key>
		<string>血魔</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Meepo</string>
		</dict>
	</dict>
	<key>Bone</key>
	<dict>
		<key>name</key>
		<string>骷髅射手</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>黑鸟</string>
		</dict>
	</dict>
	<key>BR</key>
	<dict>
		<key>name</key>
		<string>育母蜘蛛</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Zeus</string>
		</dict>
	</dict>
	<key>NA</key>
	<dict>
		<key>name</key>
		<string>地穴刺客</string>
		<key>nickname</key>
		<string>dxck;dixuecike;小强;xiaoqiang;xq</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Zeus</string>
		</dict>
	</dict>
	<key>NW</key>
	<dict>
		<key>name</key>
		<string>地穴编织者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BE</string>
		</dict>
	</dict>
	<key>PA</key>
	<dict>
		<key>name</key>
		<string>幻影刺客</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BE</string>
		</dict>
	</dict>
	<key>TB</key>
	<dict>
		<key>name</key>
		<string>灵魂守卫</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>幻影长矛手</string>
		</dict>
	</dict>
	<key>SPE</key>
	<dict>
		<key>name</key>
		<string>幽鬼</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>幻影长矛手</string>
		</dict>
	</dict>
	<key>Venomancer</key>
	<dict>
		<key>name</key>
		<string>剧毒术士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>VIP</string>
		</dict>
	</dict>
	<key>VIP</key>
	<dict>
		<key>name</key>
		<string>冥界亚龙</string>
		<key>nickname</key>
		<string>mingjieyalong;mjyl;毒龙;dulong;dl</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Meepo</string>
		</dict>
	</dict>
	<key>Razor</key>
	<dict>
		<key>name</key>
		<string>闪电幽魂</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Meepo</string>
		</dict>
	</dict>
	<key>Medusa</key>
	<dict>
		<key>name</key>
		<string>蛇发女妖</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>PL</string>
		</dict>
	</dict>
	<key>Slark</key>
	<dict>
		<key>name</key>
		<string>鱼人夜行者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
		</dict>
	</dict>
	<key>FV</key>
	<dict>
		<key>name</key>
		<string>虚空假面</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>光法</string>
		</dict>
	</dict>
	<key>CM</key>
	<dict>
		<key>name</key>
		<string>水晶室女</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pudge</string>
		</dict>
	</dict>
	<key>EH</key>
	<dict>
		<key>name</key>
		<string>魅惑魔女</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>Puck</key>
	<dict>
		<key>name</key>
		<string>仙女龙</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>Chen</key>
	<dict>
		<key>name</key>
		<string>圣骑士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>AXE</string>
		</dict>
	</dict>
	<key>KOTL</key>
	<dict>
		<key>name</key>
		<string>光之守卫</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Puck</string>
		</dict>
	</dict>
	<key>Zeus</key>
	<dict>
		<key>name</key>
		<string>众神之王</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>Furion</key>
	<dict>
		<key>name</key>
		<string>先知</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Barathrum</string>
			<key>9</key>
			<string>POM</string>
		</dict>
	</dict>
	<key>NOR</key>
	<dict>
		<key>name</key>
		<string>沉默术士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Barathrum</string>
			<key>9</key>
			<string>POM</string>
		</dict>
	</dict>
	<key>Lina</key>
	<dict>
		<key>name</key>
		<string>火女</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
			<key>9</key>
			<string>Bone</string>
		</dict>
	</dict>
	<key>RT</key>
	<dict>
		<key>name</key>
		<string>风暴之灵</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
			<key>9</key>
			<string>Bone</string>
		</dict>
	</dict>
	<key>Alleria</key>
	<dict>
		<key>name</key>
		<string>风行者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Zeus</string>
			<key>9</key>
			<string>Tiny</string>
		</dict>
	</dict>
	<key>FS</key>
	<dict>
		<key>name</key>
		<string>预言者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
			<key>9</key>
			<string>Bone</string>
		</dict>
	</dict>
	<key>OM</key>
	<dict>
		<key>name</key>
		<string>食人魔魔法师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
			<key>9</key>
			<string>Bone</string>
		</dict>
	</dict>
	<key>Goblin</key>
	<dict>
		<key>name</key>
		<string>哥布林工程师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Furion</string>
			<key>9</key>
			<string>Zeus</string>
		</dict>
	</dict>
	<key>THD</key>
	<dict>
		<key>name</key>
		<string>双头龙</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
			<key>9</key>
			<string>Bone</string>
		</dict>
	</dict>
	<key>TK</key>
	<dict>
		<key>name</key>
		<string>地精修补匠</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
			<key>9</key>
			<string>AM</string>
		</dict>
	</dict>
	<key>SS</key>
	<dict>
		<key>name</key>
		<string>暗影萨满</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
			<key>9</key>
			<string>AM</string>
		</dict>
	</dict>
	<key>Rubick</key>
	<dict>
		<key>name</key>
		<string>大魔导师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
			<key>9</key>
			<string>AM</string>
		</dict>
	</dict>
	<key>SM</key>
	<dict>
		<key>name</key>
		<string>天怒法师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
			<key>9</key>
			<string>Meepo</string>
		</dict>
	</dict>
	<key>Kael</key>
	<dict>
		<key>name</key>
		<string>召唤师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
			<key>9</key>
			<string>TH</string>
		</dict>
	</dict>
	<key>BE</key>
	<dict>
		<key>name</key>
		<string>痛苦之源</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>谜团</string>
			<key>9</key>
			<string>TH</string>
		</dict>
	</dict>
	<key>DS</key>
	<dict>
		<key>name</key>
		<string>黑暗贤者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>BS</string>
			<key>9</key>
			<string>AXE</string>
		</dict>
	</dict>
	<key>DP</key>
	<dict>
		<key>name</key>
		<string>死亡先知</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>POM</string>
		</dict>
	</dict>
	<key>Lion</key>
	<dict>
		<key>name</key>
		<string>恶魔巫师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>POM</string>
		</dict>
	</dict>
	<key>Enigma</key>
	<dict>
		<key>name</key>
		<string>谜团</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>TH</string>
			<key>9</key>
			<string>Kael</string>
		</dict>
	</dict>
	<key>Lich</key>
	<dict>
		<key>name</key>
		<string>巫妖</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
		</dict>
	</dict>
	<key>NEC</key>
	<dict>
		<key>name</key>
		<string>死灵法师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Huskar</string>
		</dict>
	</dict>
	<key>Pugna</key>
	<dict>
		<key>name</key>
		<string>遗忘法师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Huskar</string>
		</dict>
	</dict>
	<key>OD</key>
	<dict>
		<key>name</key>
		<string>黑曜毁灭者</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>QOP</key>
	<dict>
		<key>name</key>
		<string>痛苦女王</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Pugna</string>
		</dict>
	</dict>
	<key>WL</key>
	<dict>
		<key>name</key>
		<string>术士</string>
		<key>nickname</key>
		<string>warlock;ss</string>
		<key>trait</key>
		<string>团控;治疗;大招</string>
		<key>strong</key>
		<dict>
			<key>8</key>
			<string>AXE</string>
		</dict>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
		</dict>
	</dict>
	<key>SD</key>
	<dict>
		<key>name</key>
		<string>暗影恶魔</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>SA</string>
		</dict>
	</dict>
	<key>BAT</key>
	<dict>
		<key>name</key>
		<string>蝙蝠骑士</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>TH</string>
		</dict>
	</dict>
	<key>DZ</key>
	<dict>
		<key>name</key>
		<string>暗影牧师</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>NOR</string>
		</dict>
	</dict>
	<key>VIS</key>
	<dict>
		<key>name</key>
		<string>死灵飞龙</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Sniper</string>
		</dict>
	</dict>
	<key>TS</key>
	<dict>
		<key>name</key>
		<string>受折磨的灵魂</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>NOR</string>
		</dict>
	</dict>
	<key>WD</key>
	<dict>
		<key>name</key>
		<string>巫医</string>
		<key>nickname</key>
		<string>51;wuyi;wy</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>TH</string>
		</dict>
	</dict>
	<key>AP</key>
	<dict>
		<key>name</key>
		<string>极寒幽魂</string>
		<key>nickname</key>
		<string>冰魂;冰魄;binghun;bingpo</string>
		<key>weak</key>
		<dict>
			<key>10</key>
			<string>Rubick</string>
			<key>9</key>
			<string>AM</string>
		</dict>
	</dict>
</dict>
</plist>
